.header{
    display: flex;
    flex-direction: row;
    padding: 3% 10% 2% 10%;
    align-items: flex-end;
    justify-content: space-between;
    font-family: Ebrima, serif;
    border-bottom: 1px solid gray;
    /*background-color: #03B5AA;*/
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    .header__logo{
        display: flex;
        flex-direction: column;
    }
    .header__title {
        color: white;
        font-size: 4rem;
        font-weight: bold;
        -webkit-text-stroke: 1px #f17b19;
        text-shadow: 1px 1px 4px rgba(128, 128, 128, 0.27);
    }
    .header__subtitle {
        font-size: 1.2rem;
        font-weight: bold;
        color: black;
        padding-left: 6px;
    }
    .header__search{
        width: 350px;
    }

}




@media (min-width: 300px) and (max-width: 860px) {
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        .header__subtitle{
            font-size: 1rem;
        }
        .header__search{
            padding-top: 2%;
            max-width: 300px;
        }
    }
}